<h1>Edit Article</h1>

<form action="/articles/<%= @article.id %>" method='post'>
    <input id='hidden' type='hidden' name='_method' value='PATCH'>
    <label for='title'> Title </label><br>
    <input type='text' name='article[title]' value="<%= @article.title %>" id='title'></input><br>
    <label for='content'> Content </label><br>
    <textarea name='article[content]' value="<%= @article.content %>" id='content' rows='5' cols='20'></textarea><br>
    <input type='submit'>
</form>

<a href="/articles"> Back to index </a>