<form method="post" action="/articles">
  <label for="articalewith">Articale Title</label>
  <input type="text" name="[title]" id="title"><br>
  <input type="text" name="[content]" id="content"><br>
  <input type="submit" id="submit" value="submit">
  
</form>