<h1>Create a new article</h1>

<form action="/articles" method="post">
    Article Title: <input type="text" id="title" name="title">
    Article Content: <textarea type="text" id="content" name="content">
    <input type="submit" id="submit">
</form>