<h1>New Article</h1>

<form action='/articles' method='post'>
    <label for='title'> Title </label><br>
    <input type='text' name='title' id='title'></input><br>
    <label for='content'> Content </label><br>
    <textarea name='content' id='content' rows='5' cols='20'></textarea><br>
    <input type='submit'>
</form>

<a href="/articles"> Back to index </a>